<a href="https://colab.research.google.com/github/chanphoomk/FindingDuplicatesInArray/blob/master/FindingDuplicatesNumberInArray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def findDuplicates(nums):
  turtle = nums[0]
  hare = nums[0]
  while True:
    turtle = nums[turtle]
    hare = nums[nums[hare]]
    print("Search : ",turtle,hare,"\n") #Show how it works
    if turtle == hare:
      break

  ptr1 = nums[0]
  ptr2 = turtle
  while ptr1 != ptr2:
    ptr1 = nums[ptr1]
    ptr2 = nums[ptr2]

  return ptr1

In [8]:
print(findDuplicates([1,2,3,4,5,6,7,8,9,0,1]))

2 3

3 5

4 7

5 9

6 1

7 3

8 5

9 7

0 9

1 1

1